<div class="container">
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <br />
                <br />
                <h2 class="text-center">Agregá una pregunta nueva</h2>
                <br />
                <form (submit)="agregarPregunta()">
                    <div class="form-group">
                        <label>Texto de la pregunta:</label>
                        <input type="text" class="form-control" name="texto" [(ngModel)]="nuevaPregunta.texto"
                            required />
                    </div>
                    <div class="form-group">
                        <label>Respuestas (separadas por comas):</label>
                        <input type="text" class="form-control" name="respuestas" [(ngModel)]="respuestasInput"
                            required />
                    </div>
                    <div class="form-group">
                        <label>Respuesta correcta:</label>
                        <input type="text" class="form-control" name="respuestaCorrecta"
                            [(ngModel)]="nuevaPregunta.respuestaCorrecta" required />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>